@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;


  --font-poppins: 'Poppins', sans-serif;

}

.textColor{
  color: #f97316;

}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* 🔥 Premium Orange-Grey Smooth Scrollbar 🔥 */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #e6ebf3, #f7f9fc); /* Soft gray gradient */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(145deg, #f26522, #77787b6f); /* Orange gradient thumb */
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(145deg, #e65c2f, #ff6b35); /* Hover glow */
}




.custom-scroll::-webkit-scrollbar {
  width: 2px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #e6ebf3, #f7f9fc);
  border-radius: 100px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(145deg, #f26522, #c8c8ca7f);
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: background 0.3s ease;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(145deg, #e65d2f9f, #ff8c00);
}
